ProyectoOmega/OmegaRest/web/WEB-INF/wsdl/localhost_8080/DataBaseService/DataBaseService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices/" name="DataBaseService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices/" schemaLocation="http://localhost:8080/DataBaseService/DataBaseService?xsd=1"/>
</xsd:schema>
</types>
<message name="getLength">
<part name="parameters" element="tns:getLength"/>
</message>
<message name="getLengthResponse">
<part name="parameters" element="tns:getLengthResponse"/>
</message>
<message name="createTable">
<part name="parameters" element="tns:createTable"/>
</message>
<message name="createTableResponse">
<part name="parameters" element="tns:createTableResponse"/>
</message>
<message name="checkUser">
<part name="parameters" element="tns:checkUser"/>
</message>
<message name="checkUserResponse">
<part name="parameters" element="tns:checkUserResponse"/>
</message>
<message name="checkPassword">
<part name="parameters" element="tns:checkPassword"/>
</message>
<message name="checkPasswordResponse">
<part name="parameters" element="tns:checkPasswordResponse"/>
</message>
<message name="deleteTable">
<part name="parameters" element="tns:deleteTable"/>
</message>
<message name="deleteTableResponse">
<part name="parameters" element="tns:deleteTableResponse"/>
</message>
<message name="deleteTuple">
<part name="parameters" element="tns:deleteTuple"/>
</message>
<message name="deleteTupleResponse">
<part name="parameters" element="tns:deleteTupleResponse"/>
</message>
<message name="createTuple">
<part name="parameters" element="tns:createTuple"/>
</message>
<message name="createTupleResponse">
<part name="parameters" element="tns:createTupleResponse"/>
</message>
<message name="scrollTable">
<part name="parameters" element="tns:scrollTable"/>
</message>
<message name="scrollTableResponse">
<part name="parameters" element="tns:scrollTableResponse"/>
</message>
<message name="updateTuple">
<part name="parameters" element="tns:updateTuple"/>
</message>
<message name="updateTupleResponse">
<part name="parameters" element="tns:updateTupleResponse"/>
</message>
<message name="getTablesName">
<part name="parameters" element="tns:getTablesName"/>
</message>
<message name="getTablesNameResponse">
<part name="parameters" element="tns:getTablesNameResponse"/>
</message>
<message name="getTableColumns">
<part name="parameters" element="tns:getTableColumns"/>
</message>
<message name="getTableColumnsResponse">
<part name="parameters" element="tns:getTableColumnsResponse"/>
</message>
<message name="getTableColumnsTypes">
<part name="parameters" element="tns:getTableColumnsTypes"/>
</message>
<message name="getTableColumnsTypesResponse">
<part name="parameters" element="tns:getTableColumnsTypesResponse"/>
</message>
<portType name="DataBaseService">
<operation name="getLength">
<input wsam:Action="http://webservices/DataBaseService/getLengthRequest" message="tns:getLength"/>
<output wsam:Action="http://webservices/DataBaseService/getLengthResponse" message="tns:getLengthResponse"/>
</operation>
<operation name="createTable">
<input wsam:Action="http://webservices/DataBaseService/createTableRequest" message="tns:createTable"/>
<output wsam:Action="http://webservices/DataBaseService/createTableResponse" message="tns:createTableResponse"/>
</operation>
<operation name="checkUser">
<input wsam:Action="http://webservices/DataBaseService/checkUserRequest" message="tns:checkUser"/>
<output wsam:Action="http://webservices/DataBaseService/checkUserResponse" message="tns:checkUserResponse"/>
</operation>
<operation name="checkPassword">
<input wsam:Action="http://webservices/DataBaseService/checkPasswordRequest" message="tns:checkPassword"/>
<output wsam:Action="http://webservices/DataBaseService/checkPasswordResponse" message="tns:checkPasswordResponse"/>
</operation>
<operation name="deleteTable">
<input wsam:Action="http://webservices/DataBaseService/deleteTableRequest" message="tns:deleteTable"/>
<output wsam:Action="http://webservices/DataBaseService/deleteTableResponse" message="tns:deleteTableResponse"/>
</operation>
<operation name="deleteTuple">
<input wsam:Action="http://webservices/DataBaseService/deleteTupleRequest" message="tns:deleteTuple"/>
<output wsam:Action="http://webservices/DataBaseService/deleteTupleResponse" message="tns:deleteTupleResponse"/>
</operation>
<operation name="createTuple">
<input wsam:Action="http://webservices/DataBaseService/createTupleRequest" message="tns:createTuple"/>
<output wsam:Action="http://webservices/DataBaseService/createTupleResponse" message="tns:createTupleResponse"/>
</operation>
<operation name="scrollTable">
<input wsam:Action="http://webservices/DataBaseService/scrollTableRequest" message="tns:scrollTable"/>
<output wsam:Action="http://webservices/DataBaseService/scrollTableResponse" message="tns:scrollTableResponse"/>
</operation>
<operation name="updateTuple">
<input wsam:Action="http://webservices/DataBaseService/updateTupleRequest" message="tns:updateTuple"/>
<output wsam:Action="http://webservices/DataBaseService/updateTupleResponse" message="tns:updateTupleResponse"/>
</operation>
<operation name="getTablesName">
<input wsam:Action="http://webservices/DataBaseService/getTablesNameRequest" message="tns:getTablesName"/>
<output wsam:Action="http://webservices/DataBaseService/getTablesNameResponse" message="tns:getTablesNameResponse"/>
</operation>
<operation name="getTableColumns">
<input wsam:Action="http://webservices/DataBaseService/getTableColumnsRequest" message="tns:getTableColumns"/>
<output wsam:Action="http://webservices/DataBaseService/getTableColumnsResponse" message="tns:getTableColumnsResponse"/>
</operation>
<operation name="getTableColumnsTypes">
<input wsam:Action="http://webservices/DataBaseService/getTableColumnsTypesRequest" message="tns:getTableColumnsTypes"/>
<output wsam:Action="http://webservices/DataBaseService/getTableColumnsTypesResponse" message="tns:getTableColumnsTypesResponse"/>
</operation>
</portType>
<binding name="DataBaseServicePortBinding" type="tns:DataBaseService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getLength">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createTable">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkPassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteTable">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteTuple">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createTuple">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="scrollTable">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateTuple">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTablesName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTableColumns">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTableColumnsTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DataBaseService">
<port name="DataBaseServicePort" binding="tns:DataBaseServicePortBinding">
<soap:address location="http://localhost:8080/DataBaseService/DataBaseService"/>
</port>
</service>
</definitions>